@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-content">
    <h3 class="welcome-message">Welcome @Session["username"]</h3>
    @Html.ActionLink("Logout", "Logout", "Login", new { @class = "logout-link" })
</div>

@Html.ActionLink("Categories Management", "Index", "Categories")
<br/>
@Html.ActionLink("Products Management", "Index", "Products")


