
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home Page", "Index")</li>
            <li>@Html.ActionLink("About Page", "AboutUs")</li>
            <li>@Html.ActionLink("Contact us Page", "Contact")</li>
        </ul>
    </nav>
    <div>
        <h2>This is the About page</h2>

    </div>
</body>
</html>
