
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home Page", "Index")</li>
            <li>@Html.ActionLink("About Page", "AboutUs")</li>
            <li>@Html.ActionLink("Contact us Page", "Contact")</li>
              <li>@Html.ActionLink("View Employee", "Index","Employee")</li>
        </ul>
    </nav>
    <div>
        <h2>This is the Index page</h2>
    </div>

</body>
</html>
