.form-group {
    max-width: 600px;
}

.text-danger{
    color:red;
   margin-left:100px;
}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-label {
    flex: 0 0 100px; /* Adjust width as needed */
    margin-right: 10px;
    text-align: right; /* Align labels to the right */
}

.form-input {
    flex: 1;

}

.form-radio {
    display: flex;
    align-items: center;
}

#cbAccept {
    margin-left: 105px;
}

.form-submit {
    margin-top: 20px;
    margin-left: 250px;
}
